name: CI-Kubernetes

on:
  push:
    branches: ["main"]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build & Push Docker Image
      run: |
        IMAGE="ghcr.io/${{ github.repository_owner }}/demo-app:latest"
        echo "Building $IMAGE"
        docker build -t $IMAGE .
        docker push $IMAGE
